on:
  workflow_call:
    inputs:
      PROJECT_NAME:
        required: true
        type: string
      PROJECT_ENV:
        required: true
        type: string
      IMAGE_TAG:
        required: true
        type: string
      PROJECT_NAMESPACE:
        required: true
        type: string
    secrets:
      GITOPS_PAT:
        required: true

jobs: # 'jobs' must come after 'on'
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout GitOps Repo
        uses: actions/checkout@v4
        with:
          repository: Ahmad-Faqehi/helm-chart
          token: ${{ secrets.GITOPS_PAT }}
          path: helm-chart

      - name: Update Image Tag
        env: # Map inputs to ENV variables for yq to see them
          P_NAME: ${{ inputs.PROJECT_NAME }}
          P_ENV: ${{ inputs.PROJECT_ENV }}
          I_TAG: ${{ inputs.IMAGE_TAG }}
          P_NS: ${{ inputs.PROJECT_NAMESPACE }}
        run: |
          # Convert PROJECT_NAME and PROJECT_NAMESPACE to lowercase
          export P_NAME_LOWER=$(echo "${{ inputs.PROJECT_NAME }}" | tr '[:upper:]' '[:lower:]')
          export P_NS_LOWER=$(echo "${{ inputs.PROJECT_NAMESPACE }}" | tr '[:upper:]' '[:lower:]')
          
          mkdir -p helm-chart/environments/${P_ENV}/applications/
          yq '
            .metadata.name = strenv(P_ENV) + "-" + strenv(P_NAME_LOWER) |
            .spec.project = strenv(P_ENV) |
            .spec.source.helm.valueFiles[0] = "../projects/" + strenv(P_NAME_LOWER) + "/values-" + strenv(P_ENV) + ".yaml" |
            .spec.source.helm.values = "image:\n  tag: " + strenv(I_TAG) |
            .spec.destination.namespace = strenv(P_NS_LOWER)
          ' helm-chart/argocd-template.yaml > "helm-chart/environments/${P_ENV}/applications/${P_NAME_LOWER}.yaml"
            

      - name: Read The ArgoCD Application
        env: # Map inputs to ENV variables for yq to see them
          P_NAME: ${{ inputs.PROJECT_NAME }}
          P_ENV: ${{ inputs.PROJECT_ENV }}
        run: |
          P_NAME_LOWER=$(echo "${{ inputs.PROJECT_NAME }}" | tr '[:upper:]' '[:lower:]')
          cat helm-chart/environments/${P_ENV}/applications/${P_NAME_LOWER}.yaml


      - name: Commit and Push changes
        env: # Map inputs to ENV variables for yq to see them
          P_NAME: ${{ inputs.PROJECT_NAME }}
          I_TAG: ${{ inputs.IMAGE_TAG }}
          P_ENV: ${{ inputs.PROJECT_ENV }}
        working-directory: helm-chart
        run: |
          P_NAME_LOWER=$(echo "${{ inputs.PROJECT_NAME }}" | tr '[:upper:]' '[:lower:]')
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add .
          # Check if there are changes before committing to avoid erroring out
          git diff --quiet && git diff --staged --quiet || (git commit -m "UPDATE: ${P_NAME_LOWER} to ${I_TAG} in ${P_ENV}" && git push origin main)