name: Git Flow

on:
  workflow_call:
    outputs:
      ENV:
        description: "Resolved environment"
        value: ${{ jobs.build-and-push.outputs.ENV }}

jobs:
  build-and-push:
    if: |
      github.event_name == 'push' ||
      (github.event_name == 'pull_request' && github.event.pull_request.merged == true)
    runs-on: ubuntu-latest

    outputs:
      ENV: ${{ steps.env.outputs.ENV }}

    steps:
      - name: Set environment variables
        id: env
        shell: bash
        run: |
          echo "Event: ${{ github.event_name }}"
          echo "Base ref: ${{ github.base_ref }}"

          if [[ "${{ github.event_name }}" == "push" ]]; then
            echo "ENV=dev" >> $GITHUB_OUTPUT
          elif [[ "${{ github.base_ref }}" == "staging" ]]; then
            echo "ENV=staging" >> $GITHUB_OUTPUT
          elif [[ "${{ github.base_ref }}" == "main" ]]; then
            echo "ENV=prod" >> $GITHUB_OUTPUT
          else
            echo "ENV=dev" >> $GITHUB_OUTPUT
          fi

          echo "Resolved ENV: ${{ steps.env.outputs.ENV }}"
